<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details</title>
</head>
<body>
    <h1>Job List {{customer.full_name}}</h1>
    <ul>
        {% for job in jobs %}
            <li>
                <form action="{% url 'job_details' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="job_id" value="{{ job.id }}">
                    <button type="submit">{{ job.job_name }}</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    {% if job %}
        <h2>{{ job.job_name }}</h2>
        <p>start time: {{ job.start_time }}</p>
        <p>end time: {{ job.end_time }}</p>
        <p>Budget: {{ job.budget }}</p>

        <h3>Approved Professionals</h3>
        <ul>
            {% for professional in approved_professionals %}
                <li>{{ professional.professional }}</li>
            {% endfor %}
        </ul>

        <h3>Pending Professionals</h3>
        <ul>
            {% for professional in pending_professionals %}
                <li>{{ professional.professional }}</li>
            {% endfor %}
        </ul>
        {% if  job.project_ended %}
            <a href="{% url 'rate_professionals' %}"> please rate the professionals in your project </a><br>
        {% endif %}

    {% endif %}
</body>
</html>
